

.box-model{
    width: 150px;
    height: 150px;
    border: 15px solid blue;
    padding: 50px;
    margin: 50px;
    background-color: pink;
}

.overflow-parent{
    margin-bottom: 20px;
}

.overflow-container{
    height: 300px;
    width: 650px;
    overflow-y: scroll;

}