.box-model{
    width: 150px;
    height: 150px;
    border: 15px solid blue;
    padding: 50px;
    margin: 50px;
    background-color: pink;
}

.overflow-parent{
    margin-bottom: 20px;
}

.overflow-container{
    height: 300px;
    width: 650px;
    overflow-y: scroll;
}

.img{
    position: relative;
    left: 50px;
}

.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    display: inline-block;
    left: 100px
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    display: inline-block;
    bottom: 100px
}

.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;
    display: inline-block;
    bottom: 200px;
    left: 200px;
}